<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="kpm-package-path" value="..\approot\packages" />
    <add key="bootstrapper-version" value="1.0.0-beta1" />
    <add key="kre-package-path" value="..\approot\packages" />
    <add key="kre-version" value="1.0.0-beta2-10768" />
    <add key="kre-clr" value="CLR" />
    <add key="kre-app-base" value="..\approot\src\MvcApplication" />
  </appSettings>
</configuration>